@font-face {
    font-family: 'Alfa Slab One';
    src: local('Alfa Slab One'), local('AlfaSlabOne-Regular'), url('alfaslabone.woff2') format('woff2'), url('alfaslabone.woff') format('woff'), url('alfaslabone.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
